/* Styling for the register page */
.form-container {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  flex-direction: column;
  background: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
}

.form-container form {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}

.form-container form .title {
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold;
  font-family: "Playfair Display", serif;
  color: #333; /* Darkened text color for better readability */
}

.form-container form input {
  border: none;
  border-bottom: 1px solid #000;
  border-radius: 0;
  outline: none; /* Removed default outline on input focus */
  margin-bottom: 15px; /* Added margin for better spacing */
  padding: 8px; /* Added padding for better input appearance */
  transition: border-color 0.3s ease-in-out; /* Added transition for a smooth border color change */
}

.form-container form input:focus {
  border-color: #434343; /* Changed border color on input focus */
}

.form-container form button {
  border: 1px solid black;
  border-radius: 0;
  background-color: #000;
  color: white;
  width: 250px;
  padding: 10px; /* Adjusted padding for better button appearance */
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out; /* Added transition for smooth color and border change */
}

.form-container form button:hover {
  background: linear-gradient(to right, #434343, #000000);
  border-color: #000;
}

/* Styling for the forgot password button */
.forgot-btn {
  background-color: #434343a4 !important;
  border: 0 !important;
  color: #fff;
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out; /* Added transition for smooth color change */
}

.forgot-btn:hover {
  background-color: #434343; /* Darkened background color on hover */
}